*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: rgba(236, 232, 232, 0.911);
}
.container{
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-gap:30px;
    padding: 40px;
    margin :0 auto;

}
.grid{
    padding: 30px;
    line-height: 23px;
    border-radius: 10px;
    box-shadow: rgb(52, 52, 66);
}

 .daniel{
    background-color: indigo;
    color: #fff;
    grid-column: 1/3;
}

.jonathan{
    background-color:slategrey;
    color: #fff;
    grid-column: 3/4;

}
.kira{
    background-color: #fff;
    color: black;
    grid-column: 4;
    grid-row: 1/4;
}

.harmon{
    background-color: #fff;
    color: black;
    grid-row: 2/4;
    grid-column: 1/2;
    

}
.patrick{
    background-color: #002;
    color:#fff;
    grid-row: 2/4;
    grid-column: 2/4;
}

 .img-head{
    display: flex;
    flex-direction: row;
}
 h2{
    margin: 20px 0;
}
.img-head h4{
    margin-top: 5px;
}
.photo img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

@media screen and (max-width:745px){

    .daniel{
      
        grid-column: 1;
        grid-row: 1;
    }
    
    .jonathan{
       
        grid-column: 1;
        grid-row: 2;
    
    }
    .kira{
        grid-column: 1;
        grid-row: 3;
      
    }
    
    .harmon{
        
        grid-column: 1;
        grid-row: 4;
        
    
    }
    .patrick{
        grid-column: 1;
        grid-row: 5;
    }
    
}
